html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(71, 67, 67); 
   
  }
  .head{
      display: flex;
      flex-direction: row;
      gap: 800px;
      background-color: #6cb1e6d4;
  }
  .imagenes_head{
      display: flex;
      flex-direction: row-reverse;
      gap: 30px;
  }
 
 
  .div_fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; 
    margin-bottom: 20px;
    margin: auto;
    border: 2px solid #000; 
        border-radius: 15px; 
        padding: 10px; 
        width: 50%;
        box-sizing: border-box; 
        background-color:cadetblue;
        display: flex;
        
  }
  .div_texto_imagen img {
      max-width: auto;
      flex-wrap: wrap;
      height: auto;
      margin: 5px;
      flex: auto;
      justify-content: space-evenly ;
  }
  
  
  .div_fotos img {
    width: 30%;
    margin: 1%; 
  }
  
  .div_aut{
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
  padding: 20px;
  position: relative;
  border: 2px solid #5f8da6; 
  border-radius: 15px; 
  padding: 10px; 
  width: 50%;
  background-color: azure;
  }
  .image_aut{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
    .author {
        margin-top: 40px;
        font-size: 50px;
        font-weight: bold;
    }
    .descripcion{
      text-align: center;
      margin-top: 10px;
      font-size: 16px;
    }
    
  
    
  
    .footer {
      background-color: #f8f8f8;
      text-align: center;
      padding: 10px 0;
      width: 100%;
      position: relative;
      bottom: 0;
      margin-top: auto;
     
  }
  
  .instagram-logo {
      width: 24px;
      height: 24px;
      vertical-align: middle;
  }